#
# Traversal aliases
#

alias dir="exa --long --all --group --header --git"
alias tree="exa --tree"

# alias to restart shell as login
alias reload="exec ${SHELL} -l"

# alias to dotfiles repo
alias conf="cd ~/Development/dotfiles"

# allow running the previous command by typing `please`
# @see https://meyerweb.com/eric/thoughts/2020/09/29/polite-bash-commands/ for discussion
# alias please="sudo !!"

