/* Basics */

code, pre, kbd, textarea {
	font-family: "Fira Code" !important;
}

/* JIRA */

.activity-comment {
	font-family: "Fira Code" !important;
}

/* Crucible */
.lineContent, .diffContent {
	font-family: "Fira Code" !important;
}
