/* Set up the local font face interface */
@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

/* Basics */

code, pre, kbd, textarea {
	font-family: "Fira Code" !important;
}

/* JIRA */

/* Crucible */
.lineContent, .diffContent {
	font-family: "Fira Code" !important;
}

@media (prefers-color-scheme: dark) {
    #jira #issue-content,
    #jira #issue-content .toggle-title,
    #jira .collapsed-comments,
    #jira .aui-page-panel,
    #jira .o-checklist,
    #jira .issue-view>.issue-container .issue-header,
    #jira .issue-header .issue-header-content>.command-bar {
        color: #fafafa;
        background-color: #222 !important;
    }

    #jira .editable-field,
    #jira .editable-field:hover {
        color: #fafafa !important;
    }

    #jira h2 {
        color: #f0f0f0;
    }

    #jira .tabwrap > .tabs.horizontal > li {
        color: #fafafa;
        background: #333 !important;
    }

    #jira .tabwrap>ul.tabs>li a {
        color: #fafafa !important;
        background-color: #333 !important;
    }

    #jira .issue-body-content .module>.mod-header .ops {
        background-color: #222 !important;
    }

    #jira .issue-body-content .module>.mod-header>h1,
    #jira .issue-body-content .module>.mod-header>h2,
    #jira .issue-body-content .module>.mod-header>h3,
    #jira .issue-body-content .module>.mod-header>h4,
    #jira .issue-body-content .module>.mod-header>h5,
    #jira .issue-body-content .module>.mod-header>h6 {
        color: #fafafa !important;
    }

    #jira .aui-message-info {
        background: #222 !important;
        color: #fafafa !important;
    }

    #jira .aui-badge {
        background: #fafafa !important;
        color: #222 !important;
    }

    #jira .issue-data-block:hover,
    #jira .o-checklist:hover {
        background-color: #444 !important;
    }
    
    /* Attachment stuff */
    #jira .blender {
        background-image: linear-gradient(to right, #22222200 0, #222222ff 100%) !important;
    }

    #jira #attachmentmodule #attachment_thumbnails .attachment-content:hover {
        background-color: #222 !important;
    }

    #jira .tabwrap>.tabs.horizontal>li.active>a,
    #jira .tabwrap>.tabs.horizontal>li.active>strong {
        background: #666 !important;
    }

    #jira .property-list .item .name,
    #jira #devstatus-container.dev-status-container .status-panels .sub-text {
        color: #a0a0a0 !important;
    }

    #jira .editable-field:hover,
    #jira .links-list dd:hover {
        background-color: #333 !important;
    }

    #jira th.confluenceTh {
        background-color: #333 !important;
    }

    #jira .aui-button,
    #jira a.aui-button,
    #jira .aui-toolbar .toolbar-group .toolbar-trigger,
    #jira .aui-toolbar .toolbar-group .toolbar-trigger:hover {
        background-color: #333 !important;
        color: #fafafa !important;
    }

    #jira .aui-toolbar .toolbar-group .toolbar-trigger {
        text-shadow: none !important;
    }
}    

/* once this file is renamed, this will be as well */
/* scream into the void */
#stream_pagelet {
    display: none;
}

/* Handle Github code */

.blob-code-inner {
        /* Disable Fira Code due to CSP changes in safari */
	font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}

.commit-message code {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}

text-expander textarea {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}

.comment-body pre {
    font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}
