/* Basics */

code, pre, kbd, textarea {
	font-family: "Fira Code" !important;
}

/* JIRA */

.activity-comment {
	font-family: "Fira Code" !important;
}

/* Crucible */
.lineContent, .diffContent {
	font-family: "Fira Code" !important;
}

/* once this file is renamed, this will be as well */
/* scream into the void */
#stream_pagelet {
    display: none;
}

