[core]
        pager = delta
[delta]
        features = side-by-side line-numbers decorations
        plus-color = "#012800"
        minus-color = "#340001"
        syntax-theme = Dracula
[interactive]
        diffFilter = delta --color-only
[push]
	default = simple
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[user]
	name = Andrew Holloway
	email = booc0mtaco@users.noreply.github.com
	signingkey = DFB9212D7A801936
[pull]
	rebase = false

[diff]
	compactionHeuristic = true
[commit]
	gpgsign = true
[rerere]
	enable = true
